* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* navigation Bar */
 .header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Company Name in Header/Nav bar */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Lists of content in Nav */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    
}

p {
    font-size: 16px;
}
/* Hero big image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* search engine optimization and social media image */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Online Reputation Management */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* group all the header in this section together */
.benefit p{
    margin-bottom: 32px;
    color: #ffffff;
}

/* group all the header in this section together */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* group all the images in this section together */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* group all the class content boxs together */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* combine the images in class content */
.service img {
    max-height: 200px;
}

/* Combine all of the heading for search engine optimization. social media marketing, and online into one */
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* made the text centered */
footer {
margin: 0 auto;
  text-align: center;
  width: 10%;
}